@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
 
  html{
    height: 100vh;
    background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  font-family: 'Assistant', sans-serif;
  }
  
  body::-webkit-scrollbar {
  display: none;
  }
  
 

  .brand-button{
    background-color: #3dae5f;
    color: white;
  }
  .brand-button:hover{
    background-color: #3dae5f;
    color: white;
  }

.submitButton{
    background-color: #3dae5f;
    color: white;
  }
  .submitButton:hover{
    background-color: #3dae5f;
    color: white;
  }
  
  a{
    color: #3dae5f;
  }

.article-list-item__link{
  color: #3dae5f;
	}

.fa-star{
  color: #fbce0a;
	}
  
  .special:hover{
    background-color: #3dae5f;
    color: white;
    outline-color: #3dae5f;
  }

  .border-right {
    border-right: 1px solid #3dae5f;
    }

  .shadow-drop-2-center{-webkit-animation:shadow-drop-2-center .4s cubic-bezier(.25,.46,.45,.94) .5s both;animation:shadow-drop-2-center .4s cubic-bezier(.25,.46,.45,.94) .5s both}

  .focus-in-expand{-webkit-animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) .3s both;animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) .3s both}
  .focus-in-expand2{-webkit-animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) .8s both;animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) .8s both}
  
  .fade-in-fwd{-webkit-animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) both}
  .fade-in-fwd2{-webkit-animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) .8s both;animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) .8s both} 

@-webkit-keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
@-webkit-keyframes shadow-drop-2-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-transform:translateZ(50px);transform:translateZ(50px);-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}@keyframes shadow-drop-2-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-transform:translateZ(50px);transform:translateZ(50px);-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}
